* {
    box-sizing: border-box;
}
body {
    background:#000;
    margin: 0;
    background-size: cover;
    font: normal 16px 'Boxed', Verdana;
    letter-spacing: 0.02em;
}

input[type="text"] {
    border:none;
    background: none;
    padding: 5px 9px;
    width: 150px;
    color: #f00c;
    font: 16px Verdana;
    font-weight: 500;
    font-style: italic;
    outline: none;
    transition: all 0.5s ease;
    text-align: center;
/*     color: #07e;
    text-shadow: 0 0 38px #059, 0 0 28px #059, 0 0 24px #059, 0 0 20px #059, 0 0 14px #059, 0 0 8px #059, 0 0 4px #059; */
    color: #f00c;
}

input:focus {
    color: #fff;
}


.wrapper {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}



.wrapper .title {
    text-align: center;
}

.wrapper .title div:first-child {
    font-size: 32px;
    color: #07e;
    font-weight: 300;
    text-shadow:
        0 0 38px #059,
        0 0 28px #059,
        0 0 24px #059,
        0 0 20px #059,
        0 0 14px #059,
        0 0 8px #059,
        0 0 4px #059;
}

.wrapper .title div:last-child {
    font-weight: 300;
    font-size: 20px;
    color: #07e;
    font-weight: 300;
    text-shadow:
        0 0 38px #059,
        0 0 28px #059,
        0 0 24px #059,
        0 0 20px #059,
        0 0 14px #059,
        0 0 8px #059,
        0 0 4px #059;
}

.wrapper .buttons {
    display: flex;
    justify-content: space-around;
}



button {
    font: 300 16px 'Boxed', Verdana;
    margin:0 25px;
    background: none;
    border: solid 1px #fff9;
    border-radius: 5px;
    padding: 10px 25px;
    color: #fff;
    font-size: 18px;
    transition: all 0.5s ease;
    cursor: pointer;
}


button.blue {
    text-shadow: 0 0 15px #00577c, 0 0 15px #00577c, 0 0 10px #006a97, 0 0 5px #0071a1;
    box-shadow: 0 0 29px #00577c, 0 0 20px #00577c, 0 0 10px #006f9e inset, 0 0 3px #00577c inset;
}
button.green {
    text-shadow: 0 0 15px#0f09, 0 0 15px #0f09, 0 0 10px #0f09, 0 0 5px #0f09;
    box-shadow: 0 0 29px #0f05, 0 0 20px #0f05, 0 0 10px #0f05 inset, 0 0 3px #0f05 inset;
}

button:hover {
    border:solid 1px #f11c;
    text-shadow: 0 0 15px#f005, 0 0 15px #f009, 0 0 10px #f0c, 0 0 5px #f00;
    box-shadow: 0 0 29px #f009, 0 0 20px #f009, 0 0 15px #f009 inset, 0 0 5px #f009 inset;
}





/* Inputs text */
.inputtext {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputtext > div {
    position: relative;
}


.inputtext input + div {
    position: absolute;
    height: 5px;
    border-radius: 50%;
    width: 100%;
    bottom: 0;
    background: #0595;
    transform: scaleY(0.4);
}

.inputtext input + div::before {
    content: '';
    height: 1px;
    background: #fff;
    width: 80%;
    margin-left: 10%;
    margin-top: 1px;
    position: absolute;
    filter: blur(5px);
}

.inputtext input + div::after {
    content: '';
    height: 5px;
    background: #fff9;
    width: 40%;
    margin-left: 30%;
    position: absolute;
    filter: blur(10px);
    transform: scaleY(0.5);
}
.inputtext input:focus + div   {background: #f009;  filter: blur(2px); transform: scaleY(0.3);}
.inputtext input:focus + div::before {background: #f00;}
.inputtext input:focus + div::after  {background: #fff;}

/* Selectors */
.selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selector > div:first-child {
    text-shadow: 0 0 15px #059;
    width: 60%;
}

.selector > div:last-child {
    position: relative;
    width: 40%;
    cursor: pointer;
}

.selector div[data-select] {
    position: absolute;
    right: 0px;
    margin-top: -18px;
    transition:all 0.3s ease;
    padding: 5px 5px 0 5px;
    z-index: 1;
}

.selector div[data-select] div {
    border:none;
    left: 0px;
    height: 0;
    overflow: hidden;
    padding: 0px 9px;
    margin: 0;
    border-radius: 3px;
    background: linear-gradient(#000, #0595);
    color: #fff9;
    transition:all 0.5s ease;
    transform: translate(250px) scale(0);
    position: relative;
    z-index: 1;
    box-shadow: 0 0 5px #0599 inset, 0 0 9px #0599 inset, 0 0 14px #0599 inset,  0 0 10px #0599;
    background: #000;
}

.selector div[data-select] div::before {
    content: '';
    border-radius: 3px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 1px #fff5;
}

.selector div[data-select] div.selected {
    height: 28px;
    padding: 5px 9px;
    transform: translateX(0px);
}

.selector div:last-child > div div:hover{
    color: #fff;
    box-shadow: 0 0 5px #f009 inset, 0 0 9px #f009 inset, 0 0 14px #f009 inset;
}

.selector div[data-select].active {
    box-shadow: 0 0 1px #fff,0 0 1px #fff,0 0 1px #059;
    background: #000;
    border-radius: 5px;
    z-index: 10;
}

.selector div[data-select].active::before,
.selector div[data-select].active::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 5px;
}
.selector div[data-select].active::before {
    top:-2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    box-shadow: 0 0 1px #059, 0 0 1px #059, 0 0 1px #fff;
}

.selector div[data-select].active::after {
    top:-4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    box-shadow: 0 0 1px #059,0 0 1px #059,0 0 1px #059;
}

.selector div[data-select].active div {
    padding: 5px 9px;
    margin-bottom: 5px;
    height: 28px;
    transform: translateX(0px);
}


/* Option sets */
.sets {
    padding: 20px;
    display: flex;
}
.sets .options {
    position: relative;
    transition: all 0.5s ease;
    font-weight: 300;
}
.sets .options[data-active="inactive"] {
    border:dotted 1px red;
    transform: scale(0.5);
    filter: blur(5px) grayscale(0.8);
}
.sets .options[data-active="inactive"]::before {
    content: '';
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: #0592;
}

/* Common block sets */
.sets[data-setname="common"] {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.sets[data-setname="common"] > div {
    min-width: 450px;
}
.sets[data-setname="common"] .option {
    border-radius: 10px;
    padding: 20px;
    border:solid 1px #07e9;
    box-shadow:  0 0 20px #0599 inset,  0 0 5px #0599 inset,  0 0 20px #0595, 0 0 5px #0599;
    margin-top: 20px;
    background: #0125;
    color: #fff9;
}

.sets[data-setname="players"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

} 

.sets[data-setname="players"] .options {
    min-width: 320px;
    border-radius: 10px;
    padding: 20px;
    border:solid 1px #07e9;
    box-shadow:  0 0 20px #0599 inset,  0 0 5px #0599 inset,  0 0 20px #0595, 0 0 5px #0599;
    margin: 10px;
    background: #0125;
    color: #fff9;
}

.sets[data-setname="players"] .options > div {
    padding-bottom: 20px; 
}

.sets[data-setname="players"] .title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #07e;
    text-shadow: /* 0 0 38px #059, 0 0 28px #059, 0 0 24px #059, 0 0 20px #059, */ 0 0 14px #067, 0 0 8px #059, 0 0 4px #059;
}


.sets[data-setname="players"] .ships {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.sets[data-setname="players"] .ships > div {
    width: 50px;
    height: 50px;
    margin: 5px;
    background: #000;
    border:solid 1px #059;
    border-radius: 5px;
    color: orange;
    box-shadow: 0 0 5px #059 inset, 0 0 15px #0595 inset;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
}


.sets[data-setname="players"] .ships > div::after {
    content: '?';
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    font-size: 32px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sets[data-setname="players"] .ships > div[data-active="inactive"] {
    position: relative;
    filter: blur(5px) grayscale(1);
    opacity: 0.5;
}

.sets[data-setname="players"] .ships.selective > div[data-active="active"] {
    filter: blur(0px) grayscale(0);
    cursor: pointer;
}
.sets[data-setname="players"] .ships.selective > div[data-active="active"]:hover {
    border:solid 1px #f00;
    box-shadow: 0 0 5px #f00 inset, 0 0 15px #f005 inset;
}


.sets[data-setname="players"] .ships.selective > div::after {
    content: '';
    top:5px;
    right: 5px;
    left: 5px;
    bottom: 5px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.sets[data-setname="players"] .ships.selective > div[data-mod="ranger"]::after {background-image: url(../images/ranger.png);}
.sets[data-setname="players"] .ships.selective > div[data-mod="predator"]::after {background: #059;}

/* Game screen */
#gamescreen {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gamescreen canvas {
    background: url(../images/space_bg.jpg) right bottom no-repeat#000;
    background-size: cover;
}

#gamescreen .dashboard {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.1em;
    opacity: 0.5;
}

#gamescreen .victory {
    position: fixed;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease;
    color: #fff;
}
#gamescreen .victory.show {
    opacity: 1;
}
#gamescreen .victory > div:first-child {font-size: 5em;}
#gamescreen .victory > div:last-child {font-size: 2.5em;}



#gamescreen .pausebox {
        position: fixed;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        background: #0009;
        color: #fff;
        border: solid 1px #f11c;
        box-shadow: 0 0 29px #f005, 0 0 20px #f005, 0 0 15px #f005 inset, 0 0 15px #f005 inset;
}
#gamescreen .pausebox > div {
    text-transform: lowercase;
    font-size: 2.3em;
    font-weight: 100;
    color: #f00;
}
#gamescreen .pausebox > button {
    margin-top: 15px;
} 


#gamescreen .dashboard > div {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: start;
    min-width: 250px;
    color: #fff;
    transition: all 1.5s ease-in;
}

#gamescreen .dashboard > div.gameover {
    transform: translateY(250px) rotate(-50deg);
    opacity: 0;
}



#gamescreen .dashboard .avatar {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    border: solid 1px;
    background: url(../images/player1.png) no-repeat;
    background-size: cover;
}
#gamescreen .dashboard .stat {
    width: calc(100% - 85px);
    margin-left: 10px;
}
#gamescreen .dashboard .healt {
    font-size: 12px;
}
#gamescreen .dashboard .healt > div {
    display: inline-block;
    height:10px;
    width: 100px;
    border:solid 1px #fff3;
    background: #0005;
    margin-top: 8px;
}
#gamescreen .dashboard .healt > div > div{
    height: 8px;
    overflow: hidden;
    transition: width 0.3s ease;
}
#gamescreen .dashboard .healt > div > div > div {
    height: 10px;
    width: 100px;
    background: linear-gradient(90deg, #f00, #059);
}

#gamescreen .dashboard .fleet {
    display: flex;
    justify-content: start;
}

#gamescreen .dashboard .fleet > div {
    margin-top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    border:solid 1px #fff5;
    margin-right: 3px;
    transition: all 1s ease-in;
}

#gamescreen .dashboard .fleet > div.active {
    border:solid 1px green;
}

#gamescreen .dashboard .fleet > div.destroyed {
    position: relative;
    margin-left: -33px;
    opacity: 0;
    transform: translateY(70px) rotate(-50deg);
}

/* Menu */
#mainmenu {
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    display: flex;
    justify-content: space-between;
    background: #000;
}

#mainmenu .menu {
    width: calc(100% - 747px);
    padding: 50px 0 0 0;
}

#mainmenu .menu .logo {
    position: relative;
    font-size: 32px;
    color: #059;
}
#mainmenu .menu .logo img {
    width: 100%;
    max-width: 945px;
}
#mainmenu .menu .logo small {
    font-weight: 100;
    font-size: 12px;
    color: #fa0;
    position: absolute;
    left: 70%;
}

#mainmenu .menu .items {
    font-size: 28px;
    font-weight: 300;
    padding-left: 230px;
}
#mainmenu .menu .items div {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
    margin:10px 0;
    padding: 5px;
    color: #07e;
    cursor: pointer;
    text-shadow:
        0 0 38px #059,
        0 0 28px #059,
        0 0 24px #059,
        0 0 20px #059,
        0 0 14px #059,
        0 0 8px #059,
        0 0 4px #059;
}
#mainmenu .menu .items div:hover {
    color: #fff;
    text-shadow:
        0 0 38px #f00a,
        0 0 28px #f00a,
        0 0 24px #f00a,
        0 0 20px #f00a,
        0 0 14px #f00a,
        0 0 8px  #f00a,
        0 0 4px  #f00a;
}

#mainmenu .menu .items div:active {
    color: #f00;
}


#mainmenu .menu .items div::before {
    content:'';
    position: absolute;
    display: block;
    background: linear-gradient(90deg, #f000, #f00, #f000);
    height: 5px;
    width: 100%;
    top: 35px;
    transform: scaleY(0.1) translateX(-700px);
    filter: blur(1px);
    transition: all 0.2s ease-out;
}


#mainmenu .menu .items div::after {
    content:'';
    position: absolute;
    display: block;
    background: linear-gradient(90deg, #f000, #f55, #f000);
    height: 5px;
    width: 50%;
    margin-left: 25%;
    top: 35px;
    transform: scaleY(0.2) translateX(-500px);
    filter: blur(5px);
    transition: all 0.2s ease-out;
}


#mainmenu .menu .items div:hover::before {
    transform: scaleY(0.1) translateX(0px);
}

#mainmenu .menu .items div:hover::after {
    transform: scaleY(0.2) translateX(0px);
}

#mainmenu .menu .items .lock {
    filter: grayscale(1);
}
#mainmenu .menu .items .lock:hover {
    color: #454545;
    cursor: not-allowed;
}

#mainmenu .menu .items .lock::after {
    content: '🔒';
    position: absolute;
    margin-left: 10px;
    opacity: 0.2;
    filter: none;
    display: block;
    height:auto;
    width: auto;
    transform:none;
    background: none;
    right:-40px;
    top:0px;
}

#mainmenu .menu .items .lock:hover::after {
    transform:none;
}
#mainmenu .illuminator {
    position: relative;
    max-width:747px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#mainmenu .illuminator video {
    width: 56%;
    height: 100%;
    margin-left: 50%;
    transform: translate(-50%);
    position: relative;
    z-index: 1;
}
#mainmenu .illuminator::before {
    content:'';
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    background: url(../images/illuminator.png) center center no-repeat;
    background-size: 100%;
    z-index: 2;

}





#intro.inactive,
#mainmenu.inactive,
#local.inactive,
#online.inactive,
#settings.inactive,
#hangar.inactive {
    display: none;
}

#local,
#online,
#settings {
    color: #fff;
    padding: 20px;
    background: linear-gradient(-45deg, #000, #012);
    opacity: 1;
}


#hangar {
    position: absolute;
    z-index: 11;
    background: #011;
    padding: 20px;
    margin: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    color: #059;

}

#hangar .fleet {
    display: flex;
    justify-content: center;
}

#hangar .fleet > div {
    width: 50px;
    height: 50px;
    border:solid 1px #f90;
    border-radius: 5px;
    margin: 10px;
    position: relative;
}



#hangar .fleet > div.focus::before {
    content: '';
    position: absolute;
    top:-10px;
    right: -10px;
    left: -10px;
    bottom: -10px;
    animation: pulse 1.5s ease infinite;
    background: url(../images/focus.png) no-repeat;
    background-size: cover;
}

#hangar .fleet > div::after {
    content: '';
    position: absolute;
    top:5px;
    right: 5px;
    left: 5px;
    bottom: 5px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#hangar .fleet > div[data-mod="ranger"]::after {background-image: url(../images/ranger.png);}
#hangar .fleet > div[data-mod="predator"]::after {background: #059;}

#hangar .ships {
    display: flex;
    justify-content:center;
    border:dotted 1px #f00;
}

#hangar .ships > div {
    margin: 20px;
    width: 25%;
    border:dotted 1px #f90;
    padding: 20px;
    border-radius: 10px;
    background: #000;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#hangar .ships > div:hover {
    background: #001;
    border:dotted 1px #f00;
}

#hangar .ships > div > div:first-child {
    width: 100px;
    margin-right: 20px;
    text-align: center;
    border: dotted 1px #059;
    border-radius: 10px;
}

#hangar .ships > div > div:first-child img {
    margin: 20px;
}

#hangar .ships > div > div:last-child {
    width: calc(100% - 120px);
}

#hangar .ships > div > div:last-child > div {
    display: flex;
    justify-content: space-between;
}

#hangar button {
    width: 150px;
    text-align: center;
    padding: 20px;
    background-color: #0599;
    color: #fff;
    margin: 20px auto;
    border: solid 1px #f50;
    border-radius: 5px;
    display: block;
}

@keyframes pulse {
    0% {transform: scale(1) rotate(0);}
    25% {transform: scale(0.9) rotate(5deg);}
    50% {transform: scale(1.1) rotate(-5deg);}
    75% {transform: scale(0.9) rotate(5deg);}
    100% {transform: scale(1) rotate(0deg);}
}


.trans_in {animation: trans_in 0.5s ease forwards;}
.trans_out {animation: trans_out 0.5s ease forwards;}

@keyframes trans_in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes trans_out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
