/* COMMON */
* {
    box-sizing: border-box;
}
body {
    background-color:#000;
    margin: 0;
    background-size: cover;
    font: normal 16px 'TT Lakes', Verdana;
    letter-spacing: 0.05em;
    color: #fff;
}


.inactive {
    display: none!important;
}


.fade_in {animation: trans_in 0.5s ease forwards;}
.fade_out {animation: trans_out 0.5s ease forwards;}

@keyframes trans_in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes trans_out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


button {
    font: normal 22px 'TT Lakes', Verdana;
    letter-spacing: 0.05em;
    border:none;
    background: center center no-repeat;
    background-image: url(../images/interface/button_bg_cyan.png);
    color: #009090;
    text-shadow: 0 0 10px #7dcbcb;
    height: 58px;
    padding:0 35px;
    min-width: 100px;
    position: relative;
    transition: filter 0.5s ease;
    cursor: pointer;
}
button::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -4px;
    bottom: 0;
    width: 16px;
    background: url(../images/interface/button_bg_cyan.png) left center;
}
button::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: -4px;
    bottom: 0;
    width: 16px;
    background: url(../images/interface/button_bg_cyan.png) right center;
}

button:hover {
    filter: brightness(140%);
}
button:active {
    transform: scale(0.98);
}


/* WRAPPER */
.wrapper {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #000;
}


/* PRELOADER */
#preloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
#preloader .progress {
    width: 320px;
    color: #0997;
    font: 13px Verdana;
}
#preloader .progress .percents {
    text-align: center;
    margin-bottom: 5px;
}
#preloader .progress .bar {
    width: 100%;
    border:solid 1px #0997;
}
#preloader .progress .bar div {
    height: 10px;
    width: 0;
    background: #0997;
}
#preloader .progress .message {
    letter-spacing: 0.05em;
    margin-top:5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#preloader .progress.error {
    color: #f707;
}
#preloader .progress.error .message {
    border-color: #f707;
}
#preloader .progress.error .bar {
    border-color:#f707;
}
#preloader .progress.error .bar div {
    background: #f707;
}

#preloader .progress.fatal_error {
    color: #f007;
}
#preloader .progress.fatal_error .message {
    border-color: #f007;
}
#preloader .progress.fatal_error .bar {
    border-color:#f007;
}
#preloader .progress.fatal_error .bar div {
    background: #f007;
}

#preloader .ready {
    text-align: center;
}
#preloader .ready h2 {
    font-weight: normal;
    font-size: 130%;
    letter-spacing: 0.25em;
    color: #099;
}



/* INTRO */
#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#intro .logo {
    color: #fff;
    font-family: 'Andromeda';
    font-size: 8vw;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
#intro .by {
    color: #f90;
    text-align: right;
    font-size: 1vw;
    letter-spacing: 0.2em;
    padding-right: 1.9vw;
    opacity: 0;
}

@keyframes introzoom {
    0% {transform: scale(0.5); opacity: 0;}
    30% {opacity: 0.2;}
    70% {opacity: 1;}
    100% {transform: scale(1);}
}

@keyframes blink {
    74% {opacity: 0;}
    75% {opacity: 1;}
    76% {opacity: 0;}
    77% {opacity: 1;}
    78% {opacity: 0;}
    79% {opacity: 1;}
    80% {opacity: 0;}
    81% {opacity: 1;}
    82% {opacity: 0;}
    83% {opacity: 1;}
    84% {opacity: 0;}
    85% {opacity: 1;}
    100% {opacity: 1;}
}




/* MENU */
#mainmenu {
    display: flex;
    justify-content: space-between;
}
#mainmenu .menu {
    width: calc(100% - 747px);
    padding: 50px 0 0 0;
}
#mainmenu .menu .logo img {
    margin-left: -35px;
    position: relative;
    z-index: 3;
}
#mainmenu .menu .items {
    font-size: 130%;
    font-weight: 300;
    padding-left: 220px;
    margin-top: -35px;
    letter-spacing: 0.15em;
    position: relative;
    z-index: 4;
}
#mainmenu .menu .items div {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
    margin:0 0 20px;
    cursor: pointer;
    color: #fffa;
}
#mainmenu .menu .items div:hover {
    color: #fff;
    text-shadow: 0 0 5px #fff;
}
#mainmenu .menu .items div::before {
    content:'';
    position: absolute;
    display: block;
    background: linear-gradient(90deg, #f000, #07d, #f000);
    height: 5px;
    width: 100%;
    top: 30px;
    transform: scaleY(0.1) translateX(-700px);
    filter: blur(1px);
    transition: all 0.2s ease-out;
}
#mainmenu .menu .items div::after {
    content:'';
    position: absolute;
    display: block;
    background: linear-gradient(90deg, #f000, #0dd, #f000);
    height: 5px;
    width: 50%;
    margin-left: 25%;
    top: 30px;
    transform: scaleY(0.2) translateX(-500px);
    filter: blur(5px);
    transition: all 0.2s ease-out;
}
#mainmenu .menu .items div:hover::before {
    transform: scaleY(0.1) translateX(0px);
}
#mainmenu .menu .items div:hover::after {
    transform: scaleY(0.2) translateX(0px);
}
#mainmenu .illuminator {
    position: relative;
    max-width:747px;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#mainmenu .illuminator video {
    min-width: 56%;
    height: 100%;
    margin-left: 49%;
    transform: translate(-50%);
    position: relative;
    z-index: 1;
}
#mainmenu .illuminator::before {
    content:'';
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    background: url(../images/illuminator.png) center center no-repeat;
    background-size: 100%;
    z-index: 2;
}



/* LOCAL */
#local {
    display: flex;
    justify-content: space-between;
}

#local > div {
    border:solid 1px #f90;
}